<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <nav>
    <a href="/artists">Artists</a>
    <a href="/songs">Songs</a>
    <a href="/genres">Genres</a>
    </nav>
    <%= yield %>

  </body>
</html>